@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.box-login{
    float: right;
    margin-right: 17rem;
    margin-top: -3.5rem;
    /* transition: all 1s ease-in; */
}
.login a button:hover{
    color: #ffffff;
    background-color: #b72d2d;
}
.box-regis{
    float: right;
    margin-right: 7rem;
    margin-top: -3.5rem;
}
.login button{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-color: #ffffff;
    border-style:double;
}
.box-regis button{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-color: #ffffff;
    border-style:double;
}
.box-regis{
    float: right;
    margin-right: 8rem;
    margin-top: -3.5rem;
    /* transition: all 0.5s ease-in; */
    position: relative;
    text-decoration: none;
}
.register a button:hover{
    color: #ffffff;
    background-color: #b72d2d;
}
header{
    background-color: rgb(172, 53, 53);
    height: 7rem;
    margin-top: -10rem;
    position:fixed;
    width: 100%;
    display:inline-block;
    z-index: 100;
}
.logo img{
    width: 350px;
    padding-top: 1.3rem;
    padding-left: 3rem;
}
.photo img{
    margin-top: -3rem;
    margin-left: 5rem;
    border-radius: 10px;
}
.kwetiaw h1{
    margin-top: 10rem;
    margin-left: 28rem;
}
.kwetiaw .line{
    background-color: black;
    height: 3px;
    width: 65%;
    margin-top: 1rem;
    margin-left: 28rem;
}
.address p{
    margin-top: -7rem;
    margin-left: 33rem;
    font-weight: bolder;
}
iframe{
    margin-top: 2rem;
    height: 50%;
    width: 40%;
    margin-left: 33rem;
}
.text{
    display: flex;
    margin-top: 2rem;
    margin-left: 33rem;
}
.text1 p{
    margin-bottom: 2rem;
    font-weight: bolder;
}
.text2 p{
    margin-bottom: 2rem;
    margin-left: 20rem;
    font-weight: bolder;
}
.menu .text1{
    margin-top: 1rem;
    margin-left: 28rem;
}
.menu .text2{
    color: #b72d2d;
    margin-left: 63rem;
    margin-top: -3rem;
}
.line1{
    background-color: black;
    height: 3px;
    width: 65%;
    margin-top: -1.5rem;
    margin-left: 28rem;
}
.list p{
    font-weight: bolder;
    margin-top: 1.5rem;
    margin-left: 28rem;
}
.menu1{
    display: flex;
}
.menu1 .harga p{
    font-weight: bolder;
    margin-left: 45rem;
    margin-top: 1.5rem;
}
.box-comment{
    background-color: #b72d2d;
    height: 18rem;
    width: 20%;
    margin-top: -23rem;
    margin-left: 5rem;
    border-radius: 10px;
}
.box1{
    
    background-color: #ffffff;
    height: 17rem;
    border-radius: 10px;
    /* margin-bottom: -10rem; */
}
.box1 img{
    padding-top: 2rem;
    padding-left: 2rem;
    width: 80px;
    /* border-radius: 70%; */
}
.box1 .text1{
    color: #b72d2d;
    font-weight: bolder;
    margin-left: 8rem;
    margin-top: -3.5rem;
}
.box1 .text2{
    margin-left: 8rem;
    margin-top: 0.5rem;
}
.box1 ul{
    list-style: none;
    display: flex;
    margin-left: 10rem;
    margin-top: -1.4rem;
}
.line2{
    height: 2px;
    background-color: black;
    margin-top: -12rem;
    width: 15%;
    margin-left: 7rem;
}
.text-line p{
    font-size: 12px;
    font-weight: bold;
    padding-left: 7rem;
    padding-top: 1.5rem;
}
.boxreview{
    width: 15%;
    background-color: #fcfcfc;
    height: 30px;
    margin-top: 10rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.boxreview p{
    font-weight: bolder;
    padding-left: 4.3rem;
    padding-top: 0.3rem;
}
.boxreview a{
    text-decoration: none;
    color: black;
}
.box-see{
    margin-top: 7rem;
    width: 15%;
    margin-left: 7rem;
    border-radius: 5px;
    height: 35px;
    background-color:#b72d2d;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}
.boxreview1{
    width: 15%;
    background-color: #fcfcfc;
    height: 30px;
    margin-top: -3rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.boxreview1 p{
    font-weight: bolder;
    padding-left: 4.3rem;
    padding-top: 0.3rem;
}
.boxreview1 a{
    text-decoration: none;
    color: black;
}
.box-see1{
    margin-top: 7rem;
    width: 15%;
    margin-left: 7rem;
    border-radius: 5px;
    height: 35px;
    background-color:#b72d2d;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}
footer{
    margin-top: 10rem;
    background-color: rgb(189, 62, 54);
    height: 320px;
}
.logo-foot img{
    width: 350px;
    padding-top: 3rem;
    padding-left: 3rem;
}
.text h3{
    padding-top: 2rem;
    margin-left: -30rem;
    font-weight:bold;
    font-size: 23px;
    color: #ffffff;
}
.footer-logo .ig a{
    display:block;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    margin-left: 70rem;
    margin-top: -7.5rem;
    font-size: 20px;
    padding-top: 0.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.footer-logo .ig a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.logo-text1 h3{
    float: right;
    padding-right: 5rem;
    padding-top: -3rem;
    margin-top: -3.7rem;
    color: #ffffff;
    font-size: 20px;
}
.logo-text2 h3{
    float: right;
    padding-right: 5rem;
    padding-top: -5rem;
    margin-top: 0.7rem;
    color: #ffffff;
    font-size: 20px;
}
.copy h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10rem;
    text-align: center;
}